{% extends 'base.html' %}
{% load cart %}
{% block content %}

<div class="container-fluid" style="margin: 0; padding: 0;">
    <div class="row" style="margin-top: 9%; align-items: center; margin-bottom: 5%;">
        <div class="col-11 col-lg-4 offset-1 offset-lg-2">
            <h2 class="t555__title t-heading t-heading_sm" style="font-weight: 600; font-family: 'OrchideaPro',Arial,sans-serif;">Контакты</h2>
            <div class="t-text t-text_md" style="margin: 35px 0; font-family: 'PT Sans',Arial,sans-serif;">
                <p class="t-text-item">
                    <strong>Телефон</strong>
                    <a href="Tel:+79951102505" rel="noopener noreferrer"
                    style="color: rgb(0, 0, 0);">+7 (995) 110-25-05</a>
                </p>
                <p class="t-text-item">
                    <strong>Почта</strong>
                    <a href="mailto:mc_chocolaterie@mail.ru"
                    style="color: rgb(243, 210, 101); border-bottom: 2px solid rgb(243, 210, 101); box-shadow: none; text-decoration: none;"
                    >
                        mc_chocolaterie@mail.ru
                    </a>
                </p>
                <p>
                    <strong>Адрес:</strong> Новороссийск, ул. Свободы 3\5
                </p>
            </div>
            <div class="socials">
                <a href="https://www.instagram.com/mc_chocolaterie/" class="social-link" target="_blank" rel="noopener">
                    <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" viewBox="0 0 30 30" xml:space="preserve"><desc>Instagram</desc>
                        <path style="fill:#e1c45c;" d="M15,11.014 C12.801,11.014 11.015,12.797 11.015,15 C11.015,17.202 12.802,18.987 15,18.987 C17.199,18.987 18.987,17.202 18.987,15 C18.987,12.797 17.199,11.014 15,11.014 L15,11.014 Z M15,17.606 C13.556,17.606 12.393,16.439 12.393,15 C12.393,13.561 13.556,12.394 15,12.394 C16.429,12.394 17.607,13.561 17.607,15 C17.607,16.439 16.444,17.606 15,17.606 L15,17.606 Z"></path>
                        <path style="fill:#e1c45c;" d="M19.385,9.556 C18.872,9.556 18.465,9.964 18.465,10.477 C18.465,10.989 18.872,11.396 19.385,11.396 C19.898,11.396 20.306,10.989 20.306,10.477 C20.306,9.964 19.897,9.556 19.385,9.556 L19.385,9.556 Z"></path>
                        <path style="fill:#e1c45c;" d="M15.002,0.15 C6.798,0.15 0.149,6.797 0.149,15 C0.149,23.201 6.798,29.85 15.002,29.85 C23.201,29.85 29.852,23.202 29.852,15 C29.852,6.797 23.201,0.15 15.002,0.15 L15.002,0.15 Z M22.666,18.265 C22.666,20.688 20.687,22.666 18.25,22.666 L11.75,22.666 C9.312,22.666 7.333,20.687 7.333,18.28 L7.333,11.734 C7.333,9.312 9.311,7.334 11.75,7.334 L18.25,7.334 C20.688,7.334 22.666,9.312 22.666,11.734 L22.666,18.265L22.666,18.265 Z"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="col-10 col-lg-4 offset-1 offset-lg-0 t-map-lazyload t555__map" style="height:400px; width: 500px;box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);" data-maplazy-load="true">
            <script type="text/javascript" charset="utf-8"
            async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A96a81ff32a6e9a73827c53745864992fbc14016fc03826a24d507db6c816072a&amp;lang=ru_RU&amp;scroll=true">
            </script>
        </div>
    </div>

</div>

{% endblock %}