{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="p-3 m-3">
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">
                <img src="{% static 'logos.png' %}" style="width:50px;height:50px,color:text-light;">
            <hr>
            </div>
            <h3 class="alert alert-light rounded-pill" style="text-align:center" >Добро пожаловать</h3>
            <form action="/login" method="POST">
                
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- email -->
                <div class="form-group">
                    <label for="">@Почта</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}" 
                    class=" form-control-sm form-control" placeholder="abc@gmail.com">
                </div>


                <!-- password -->
                <div class="form-group">
                    <label for="">Пароль</label>
                    <input type="password" 
                    name="password" 
                    id=""
                     class="form-control form-control-sm" >
                </div>

                <!--Checkme button-->
            <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label d-grid gap-2" for="exampleCheck1">Запомнить меня</label>
                </div>
                <hr>
                <button type="submit" class="btn btn-sm btn-warning col-lg-12">Войти</button>


                
            </form>
        </div>
    </div>
</div>

{% endblock %}